form {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

#mainSection {
    display: flex;
}

h2 {
    font-size: 12px;
}

#gehege {
    display: grid;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}